
  <style>
    dt {
      font-weight: bolder;
    }
    .edit {
      display: none;
    }
  </style>
  <header class="page-title">
    <span class="smaller"><a href="/"><i class="fa fa-arrow-left"></i>&nbsp; Back to Index</a></span>
  </header>

  <header class="page-header">
    <h2 class="page-title">
      <span class="bigger"><i class="fa fa-user fa-lg"></i>&nbsp; {{title}}</span>
    </h2>
  </header>

  <section class="block">
    <header class="block__header">{{contact.name.full}}</header>
    <dl>
      <dt>First Name</dt>
      <dd class="view">{{contact.first}}</dd>
      <dd class="edit"><input type="text" id="first" value="{{contact.first}}"></dd>
      <br>
      <dt>Last Name</dt>
      <dd class="view">{{contact.last}}</dd>
      <dd class="edit"><input type="text" id="last" value="{{contact.last}}"></dd>
      <br>
      <dt>E-Mail</dt>
      <dd class="view">{{contact.email}}</dd>
      <dd class="edit"><input type="text" id="email" value="{{contact.email}}"></dd>
      <br>
      <dt>Mobile</dt>
      <dd class="view">{{contact.mobile}}</dd>
      <dd class="edit"><input type="text" id="mobile" value="{{contact.mobile}}"></dd>
      <br>
      <dt>Address</dt>
      <dd class="view">{{contact.address}}</dd>
      <dd class="edit"><input type="text" id="address" value="{{contact.address}}"></dd>
      <br>
      <dd class="edit">
        <input type="submit" value="Save" onclick="save()">
        <input type="submit" value="Cancel" onclick="cancel()">
      </dd>
    </dl>
    <p>
      <a href="#" class="btn btn-primary" role="button" onclick="edit()"><i class="fa fa-pencil fa-fw"></i>&nbsp; Edit</a>
      <a href="#" class="btn btn-danger" role="button" onclick="del()"><i class="fa fa-trash-o fa-fw"></i>&nbsp; Delete</a>
    </p>
  </section>
<script>
  function edit() {
    $('.view').hide()
    $('.edit').show()
  }

  function cancel() {
    $('.view').show()
    $('.edit').hide()
  }

  function save() {
    $.ajax('/contacts/{{contact._id}}', {
      method: 'PUT',
      data: {
        first: $('#first').val(),
        last: $('#last').val(),
        email: $('#email').val(),
        mobile: $('#mobile').val(),
        address: $('#address').val()
      },
      complete: function() {
        cancel()
        location.reload()
      }
    })
  }

  function del() {
    $.ajax('/contacts/{{contact._id}}', {
      method: 'DELETE',
      complete: function() {
        location = '/'
      }
    })
  }
</script>